//
// Base
//
// Import any reset styling here, along with base elements, such as <body>, <a>,
// <strong>, for example.
//
// Eric Meyer’s reset CSS document is included here as “_reset.scss.” It’s available
// at http://meyerweb.com/eric/tools/css/reset/reset.css
//
@import 'reset';
@import 'body';

h1{
  font-size: 3rem;
  font-family: $header--font--family;
  color: white;
  text-shadow: 2px 2px black;
  text-decoration: underline;
  margin-bottom: 2rem;
}

h3 {
  font-family: $header--font--family;
}

nav {
  background: rgb(77,83,117);
  background: linear-gradient(191deg, rgba(77,83,117,1) 9%, rgba(143,164,189,1) 33%, rgba(98,133,145,1) 76%, rgba(35,77,80,1) 97%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1;
> a {
    color: white;
    font-family: $default--font--family;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px $primary--font--color;
  }

  a:focus {
    outline: none;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px $primary--font--color;
  }
}
@media (max-width: $breakpoint--tablet){
  max-width: 100%;
    margin: 0;
  }
}

form {
  border-radius: 30px;
  background-color: $secondary--background--color;
    > p {
      font-family: $header--font--family;
    }
  > input {
    background-color: $secondary--background--color;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: $secondary--accent--color;
    margin: 1rem;
    padding: 0.26rem;
    font-family: $default--font--family;
    font-size: 1rem;
  }
  > input:focus {
    outline: none;
  }
  @media (max-width: $breakpoint--phone) {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  @media (max-width: $breakpoint--phone){
      margin: 4rem;
    }
}

::placeholder {
  color: #000;
  font-weight:  bold;
  font-size: 1rem;
}

button {
  background-color: $bright--color;
  color: $primary--font--color;
  cursor: pointer;
  font-family: $header--font--family;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-left: 3rem;
  position: relative;
  left: 10%;
  padding: 0.6rem;
}

button:hover {
  box-shadow: 3px 3px 3px black;
  color: white;
}

button:focus {
  outline: none;
  box-shadow: 3px 3px 3px black;
  color: white;
}

  @media (max-width: $breakpoint--phone){
    width: 325px;
    height: 80px
    }
}

#reset:hover {
    background-color: darken($secondary--background--color, 20%);
  }
#reset:focus {
    background-color: darken($secondary--background--color, 20%);
}

p {
  font-family: $default--font--family;
  font-size: $default--font-size;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

img {
  width: 50px;
  height: 50px;
  padding: 1rem;
  @media (max-width: $breakpoint--tablet){
    padding: 3rem;
    }
}

textarea {
  font-family: $default--font--family;
  font-size: $default--font-size;
.contact {
  color: white;
  padding: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: $breakpoint--tablet){
      padding: 2rem;
    }
}

.mask {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: $breakpoint--phone) {
    justify-content: center;
    flex-wrap: wrap;
  @media (max-width: $breakpoint--tablet){
    p {
      font-size: 2rem;
    }
    }
  @media (max-width: $breakpoint--phone){
    padding-top: 4rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    p {
      font-size: 2rem;
    }
  }
}

.side-panel {
  text-align: center;
  padding: 2rem;
  @media (max-width: $breakpoint--tablet){
    padding-top: 4rem;
    }
    @media (max-width: $breakpoint--phone){
      padding-top: 2rem;
      padding-right: 2rem;
      }
}
#my-art {
  margin-top: 1rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  img {
    margin: 1rem;
    box-shadow: 0 3px 3px black;
    height: 300px;
    width: 200px;
    border: 3px solid black;
  }
  img:hover{
    height: 303px;
    width: 203px;
    border: 3px solid black;
  }
}
}
