//
// Base
//
// Import any reset styling here, along with base elements, such as <body>, <a>,
// <strong>, for example.
//
// Eric Meyer’s reset CSS document is included here as “_reset.scss.” It’s available
// at http://meyerweb.com/eric/tools/css/reset/reset.css
//
@import 'reset';
@import 'body';

nav {
  background: linear-gradient(180deg, rgba(77,83,117,1) 33%, rgba(55,61,85,1) 68%, rgba(5,12,12,1) 100%);
  box-shadow: 0 0 1rem $primary--accent--color;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  height: 75vh;
  width: 15vw;
  border-radius: 30px;
  justify-content: space-around;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: center;
  > a {
    text-decoration: none;
    font-weight: bold;
    color: $primary--font--color;
    font-size: 1.6rem;
  }

  @include slide;
}

form {
    > p {
      font-family: $header--font--family;
    }
  > input {
    background-color: $secondary--background--color;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: $secondary--accent--color;
    margin: 0.62rem;
    padding: 0.26rem;
  }
  > input:focus {
    outline: none;
  }
}

button:not(#reset) {
  border: none;
  font-family: $header--font--family;
  font-size: 1.2rem;
  position: relative;
  left: 50px;
  margin-right: 50px;
  border-radius: 15px;
  padding-left: 0.6rem;
  padding-right:0.6rem;
}

button:hover{
    background-color: white;
}

button:focus{
  outline: none;
  background-color: white
}

#reset {
  border-radius: 15px;
  font-family: $header--font--family;
  font-size: 1.2rem;
  position: relative;
  left: 50px;
  border: 1px;
  background-color: inherit;
}

#reset:hover {
    background-color: darken($secondary--background--color, 20%);
  }
#reset:focus {
    background-color: darken($secondary--background--color, 20%);
}

h3 {
  font-family: $header--font--family;
  font-size: $header3--font-size;
  margin-bottom: 1.2rem;
}

p {
  font-family: $default--font--family;
  font-size: $default--font-size;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

img {
  width: 50px;
  height: 50px;
  padding: 1rem;
}

textarea {
  font-family: $default--font--family;
  font-size: $default--font-size;
}

.mask {
  background-color: $secondary--background--color;
  border-radius: 30px;
  box-shadow: 0 0 1rem $primary--accent--color;
  padding: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:  space-around;
}
