//
// Utilities
//
// Import the basic utilities that other components in your project will require that
// don’t change. For example, color palettes, global variables, mixins, etc.
//


//phone and tablet Responsive
$breakpoint--tablet: 1100px;
$breakpoint--phone:  840px;

$width--tablet: 768px;
$width--phone: 91.42%;

$breakpoint--laptop: 1440px;

//Font families
$default--font--family: 'Dosis', sans-serif;
$header--font--family: 'DM Serif Text', serif;

//Font Weights
$regular--weight: 400px;
$bold--weight: 700px;

//Font Size
$default--font-size: 18px;
$header--font-size: 70px;
$header3--font-size: 20px;

//Color palettes
$primary--background--color: rgb(219, 235, 235);
$secondary--background--color: rgb(212, 232, 215);
$primary--accent--color: rgb(77, 83, 117);
$secondary--accent--color: rgb(110, 9, 11);
$primary--font--color: rgb(245, 250, 250);
$secondary-font--color: rgb(116, 6, 32);

//animation
@mixin slide {
  animation-name: nav-slide;
  animation-duration: 2s;
  animation-play-state: running;
  @keyframes nav-slide {
    0% {height: 0vh;}
    100% {height: 82vh;}
  }
}
$primary--background--color: #dbebeb;
$gradient: linear-gradient(0deg, rgba(15,38,77,1) 0%, rgba(162,199,201,1) 33%, rgba(156,192,196,1) 67%, rgba(3,25,67,1) 100%);
$bright--color: #acd1d1;
$primary--font--color: #031943;
