//
// Utilities
//
// Import the basic utilities that other components in your project will require that
// don’t change. For example, color palettes, global variables, mixins, etc.
//


//phone and tablet Responsive
$breakpoint--tablet: 1100px;
$breakpoint--phone:  840px;

$width--tablet: 768px;
$width--phone: 91.42%;

//Font families
$default--font--family: 'Dosis', sans-serif;
$header--font--family: 'DM Serif Text', serif;

//Font Size
$default--font-size: 18px;
$header3--font-size: 20px;

//Color palettes
$primary--background--color: #dbebeb;
$gradient: linear-gradient(0deg, rgba(15,38,77,1) 0%, rgba(162,199,201,1) 33%, rgba(156,192,196,1) 67%, rgba(3,25,67,1) 100%);
$bright--color: #acd1d1;
$primary--font--color: #031943;
