//
// Layout
//
// Larger layout items that contain base elements are styled here, such as <header>,
// <main>, <footer>, and BEM classes.
// example.
//

body {
  background: linear-gradient(180deg, rgba(238,238,238,1) 27%, rgba(219,235,235,1) 81%);
  background-position:  center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;

  @media (max-width: $breakpoint--tablet) {
    flex: display;
    flex-flow: column-reverse;
  }

  @media (max-width: $breakpoint--phone) {
    flex: display;
    flex-flow: column-reverse;
  }
}

main {
  background-color: $secondary--background--color;
  border-radius: 30px;
  box-shadow: 0 0 1rem $primary--accent--color;
  margin: 2rem;
  position: relative;
  padding-top: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 1rem;
  color: $secondary-font--color;

  @media (max-width: $breakpoint--phone) {
    flex: display;
    flex-wrap: wrap;
    flex-flow: column-reverse;
  }
}

header {
  padding-top: 2rem;
  padding-bottom:2rem;
  background-color: inherit;
  font-family: $default--font--family;
  font-size: $default--font-size;

  @media (max-width: $breakpoint--tablet){
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @media (max-width: $breakpoint--phone){
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
